.input:focus {

}

.input {

}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    padding: 5px;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 3px solid #CC1439;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.errorInput:focus {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #CC1439;
}
